<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information and Help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Information and Help</h1>
        <p>Explore resources, scientific articles, and tips to improve your sleep habits.</p><br>
        <style>
        a {
            font-size:30px;
        }  
        </style>
            <img size=50% src="{{ url_for('static', filename='images/sleepingcat.jpeg') }}" alt="Sleeping" class="image">
            <img size=50% src="{{ url_for('static', filename='images/sleepingcat2.jpeg') }}" alt="Sleeping" class="image">
        <!-- Links Section -->
        <div class="info-links">
            <h2>Useful Resources:</h2>
                <a href="https://www.sleepfoundation.org/">Sleep Research Studies</a><br><br>
                <a href="https://www.cdc.gov/sleep/index.html">Healthy Sleep Tips</a><br><br>
                <a href="https://www.camh.ca/en/professionals/treating-conditions-and-disorders/sleep-disorders/sleep-disorders---screening-and-assessment">Online Sleep Assessments</a><br><br>
        </div>
        
        <!-- Return to home page button -->
        <br>
        <a href="/" class="button">Back to Home</a>
    </div>
</body>
</html>